/* font-family: 'Poppins', sans-serif;
/*font-family: 'Playfair Display', serif;
*/
:root {
  --primary-color: #f9f7fe;
  --secondary-color: rgb(39, 33, 66);
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --text-color: #6c757d;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-break: 2;
  font-size: 24px;
  color: var(--secondary-color);
}
.hero h3 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: normal;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: medium;
  line-height: 27px;
  padding: 10px 30px;
}

.row h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.row p {
  color: var(--text-color);
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin: 10px 5px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 30px;
}

.row {
  margin-bottom: 48px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 15px;
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  background: white;
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.content-container {
  padding: 160px 20px;
}
.content-container h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin-top: 120px;
  color: var(--secondary-color);
  line-height: 80px;
}

.content-container h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
  margin-top: 20px;
  color: var(--secondary-color);
}

.content p {
  text-align: left;
  color: var(--text-color);
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
}

.content a {
  text-align: left;
  text-decoration: none;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
}

.color-white {
    color: white !important; 
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--branding-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 48px;
  }

  .content p {
    font-size: 14px;
  }

  .btn-branding-outline {
    width: 200px;
  }

  .hero {
    padding: 80px 20px;
  }

  .photo-project {
    display: none;
  }

  .photo-about {
    margin-bottom: 25px;
  }
  .content {
    text-align: center;
  }
}
  }
  .about-me-photo {
    margin-top: 15px;
  }
}

.contact-footer {
  margin: 100px 0 100px 0;
}

.logo {
  max-width: 160px;
  max-height: 42px;
  padding-left: 10px;
}

nav {
  padding: 20px 0;
}
ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-right: 15px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

nav li.active a {
  color: var(--branding-color);
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

nav a:hover {
  color: var(--text-color);
}
