/* font-family: 'Poppins', sans-serif;
/*font-family: 'Playfair Display', serif;
*/
:root {
  --primary-color: #f9f7fe;
  --secondary-color: rgb(39, 33, 66);
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --text-color: #6c757d;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-break: 2;
  font-size: 24px;
  color: var(--secondary-color);
}
.hero h3 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: normal;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: medium;
  line-height: 27px;
  padding: 10px 30px;
}

.row h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.row p {
  color: var(--text-color);
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin: 10px 5px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 30px;
}

.row {
  margin-bottom: 48px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 15px;
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  background: white;
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-me {
  margin-top: 140px;
}
.about-me h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin-top: 120px;
  color: var(--secondary-color);
}

.about-me h3 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
  margin-top: 20px;
  color: var(--secondary-color);
}

.about-me p {
  text-align: left;
  color: black;
}

.about-paragraphs {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 20px 0 40px 0;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--branding-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.project-container {
  margin: 20px;
  border-radius: 8px;
}
.project-container h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin-top: 120px;
  color: var(--secondary-color);
}
.project-container h3 {
  font-size: 38px;
  font-family: var(--default-font-family);
  font-weight: bold;
  color: var(--secondary-color);
}

.project-container p {
  border-radius: 8px;
  padding: 60px 0 60px 0;
  font-family: var(--default-font-family);
  font-weight: normal;
}
@media (max-width: 576px) {
  .hero h1 {
    font-size: 48px;
  }

  .row p {
    font-size: 14px;
  }

  .btn-branding-outline {
    width: 200px;
  }

  .hero {
    padding: 80px 20px;
  }

  .photo-project {
    display: none;
  }

  .project-container h1 {
    font-size: 48px;
  }
  .project-container h3 {
    font-size: 24px;
  }

  .photo-about {
    margin-bottom: 25px;
  }
  .about-me h1,
  h3,
  p {
    text-align: center;
  }
  .about-me-photo {
    margin-top: 15px;
  }
}

.contact-footer {
  margin: 100px 0 100px 0;
}
